@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Titillium Web', sans-serif;
    transition: .3s;
}



.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .3s;
    z-index: 0;
}

.btn:hover {
    color: #fff;
}

.btn:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.pops {
    font-family: 'Poppins', sans-serif;
}

.orb {
    font-family: 'Orbitron', sans-serif;
}

.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.bg-overlay {
    background: linear-gradient(0deg, #111111, #111111ea, transparent)
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
}

.grid-box-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
}

.ql-container {
    height: inherit;
}

.ql-editor {
    min-height: 165px;
    outline: none;
    height: inherit;
}

.min-height .ql-editor {
    min-height: max-content;
}

.right-dashboard {
    width: calc(100vw - 250px);
}

.right-dashboard.active {
    width: 100vw;
}

input:focus-visible {
    outline: none;
}

.img-cover img, img.img-cover {
    object-fit: cover;
}

/* .map > div:nth-of-type(2)  {
    height: 500px;
    width: 500px; 
} */

@media only screen and (max-width: 1000px) {
    .right-dashboard, .right-dashboard.active {
        width: 100vw;
    }

    .main-dashboard {
        left: -250px;
        right: auto;
    }

    .main-dashboard.active {
        left: 0;
    }
}